11.1 Date and Time Data Types and Tools

In [3]:
from datetime import datetime


now = datetime.now()
now
now.year, now.month, now.day

(2025, 6, 30)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta
delta.days
delta.seconds

56700

In [10]:
from datetime import timedelta


start = datetime(2011, 1, 7)
start + timedelta(12)
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [12]:
# Converting Between String and Datetime

stamp = datetime(2011, 1, 3)
str(stamp)
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
from dateutil.parser import parse


parse('2011-01-03')
parse('Jan 31, 1997 10:45 PM')
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [22]:
import pandas as pd


datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [25]:
idx = pd.to_datetime(datestrs + [None])
idx
idx[2]
pd.isnull(idx)

array([False, False,  True])

11.2 Time Series Basics

In [27]:
import numpy as np


dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [28]:
ts + ts[::2]

2011-01-02    0.533332
2011-01-05         NaN
2011-01-07    0.249935
2011-01-08         NaN
2011-01-10   -1.341132
2011-01-12         NaN
dtype: float64

In [29]:
ts.index.dtype

dtype('<M8[ns]')

In [30]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [33]:
# Indexing, Selection, Subsetting

stamp = ts.index[2]
ts[stamp]
ts['1/10/2011']
ts['20110110']

np.float64(-0.6705660025906361)

In [34]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    2.406965
2000-01-02   -0.170215
2000-01-03   -0.011612
2000-01-04    1.002093
2000-01-05    0.681008
                ...
2002-09-22    1.063356
2002-09-23   -0.106309
2002-09-24   -0.429057
2002-09-25   -0.056447
2002-09-26   -0.182454
Freq: D, Length: 1000, dtype: float64

In [35]:
longer_ts['2001']

2001-01-01   -2.450062
2001-01-02    0.305629
2001-01-03   -1.599354
2001-01-04   -0.020942
2001-01-05    0.610598
                ...
2001-12-27    1.402375
2001-12-28    1.361957
2001-12-29    0.361688
2001-12-30   -0.992821
2001-12-31   -1.201574
Freq: D, Length: 365, dtype: float64

In [36]:
longer_ts['2001-05']

2001-05-01    0.348893
2001-05-02    1.085224
2001-05-03    0.283335
2001-05-04   -1.178362
2001-05-05    0.637868
2001-05-06   -0.697833
2001-05-07    1.296507
2001-05-08   -0.219078
2001-05-09    2.080236
2001-05-10   -0.365614
2001-05-11   -1.916350
2001-05-12   -0.666772
2001-05-13   -0.273095
2001-05-14    1.704602
2001-05-15   -1.145307
2001-05-16    0.666306
2001-05-17    0.528616
2001-05-18    1.408606
2001-05-19    0.103806
2001-05-20    0.236239
2001-05-21    0.100761
2001-05-22   -0.652602
2001-05-23    0.068542
2001-05-24    1.199558
2001-05-25    0.172469
2001-05-26    1.263186
2001-05-27   -1.059852
2001-05-28   -1.645744
2001-05-29    0.601711
2001-05-30    0.161887
2001-05-31    1.149261
Freq: D, dtype: float64

In [37]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.124967
2011-01-08    1.390102
2011-01-10   -0.670566
2011-01-12   -0.467199
dtype: float64

In [39]:
ts
ts['1/6/2011':'1/11/2011']

2011-01-07    0.124967
2011-01-08    1.390102
2011-01-10   -0.670566
dtype: float64

In [40]:
ts.truncate(after='1/9/2011')

2011-01-02    0.266666
2011-01-05    0.083875
2011-01-07    0.124967
2011-01-08    1.390102
dtype: float64

In [41]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates, columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.875646  0.688429  0.098038 -0.647977
2001-05-09 -0.984600  1.259744  0.926050 -0.605072
2001-05-16  0.726223 -0.050434 -0.032705  1.684401
2001-05-23  1.264294 -0.105105  0.510292 -0.235080
2001-05-30  0.220199  0.712530  0.348008 -1.204685

In [43]:
# Time Series with Duplicate Indices

dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [44]:
dup_ts.index.is_unique

False

In [46]:
dup_ts['1/3/2000']
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [47]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [48]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64