6.1 Reading and Writing Data in Text Format

In [14]:
import pandas as pd

df = pd.read_csv('samples/ex1.csv')
print(df)
print('\n')
print(pd.read_table('samples/ex1.csv', sep=','))
print('\n')
print(pd.read_csv('samples/ex2.csv', header=None))
print('\n')
print(pd.read_csv('samples/ex2.csv', names=['a', 'b', 'c', 'd', 'message']))

names = ['a', 'b', 'c', 'd', 'message']
print('\n')
print(pd.read_csv('samples/ex2.csv', names=names, index_col='message'))

parsed = pd.read_csv('samples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
print('\n')
print(parsed)

print('\n')
print(list(open('samples/ex3.txt')))

result = pd.read_table('samples/ex3.txt', sep='\\s+')
print('\n')
print(result)

print('\n')
print(pd.read_csv('samples/ex4.csv', skiprows=[0 ,2, 3]))

result = pd.read_csv('samples/ex5.csv')
print('\n')
print(result)
print('\n')
print(pd.isnull(result))

result = pd.read_csv('samples/ex5.csv', na_values=['NULL'])
print('\n')
print(result)

sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
print('\n')
print(pd.read_csv('samples/ex5.csv', na_values=sentinels))

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo


   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12


           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16


['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']


            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491


   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo


   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False


  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo


  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [18]:
# Reading Text Files in Pieces

pd.options.display.max_rows = 10

result = pd.read_csv('samples/ex6.csv')
print(result)
print('\n')
print(pd.read_csv('samples/ex6.csv', nrows=5))

chunker = pd.read_csv('samples/ex6.csv', chunksize=1000)
print('\n')
print(chunker)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot.sort_values(ascending=False)
print('\n')
print(tot[:10])

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]


        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q


<pandas.io.parsers.readers.TextFileReader object at 0x107997f70>


key
0    151
1    146
2    152
3    162
4    171
5    157
6    166
7    164
8    162
9    150
dtype: object

In [26]:
# Writing Data to Text Format

import numpy as np
import sys

data = pd.read_csv('examples/ex5.csv')
print(data)

data.to_csv('examples/out.csv')

print('\n')
data.to_csv(sys.stdout, sep='|')

print('\n')
print(data.to_csv(sys.stdout, na_rep='NULL'))

print('\n')
print(data.to_csv(sys.stdout, index=False, header=False))

print('\n')
print(data.to_csv(sys.stdout, index=False, columns=['a','b', 'c']))

dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
print('\n')
print(ts.to_csv('examples/tseries.csv'))

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo


|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo


,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo
None


one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo
None


a,b,c
1,2,3.0
5,6,
9,10,11.0
None


None

In [28]:
# Working with Delimited Formats

import csv


f = open('examples/ex7.csv')
reader = csv.reader(f)

for line in reader:
    print(line)

with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
print('\n')
print(data_dict)

class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotachar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)

reader = csv.reader(f, delimiter='|')

with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']


{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [34]:
# JSON Data

import json

obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

result = json.loads(obj)
print(result)

asjson = json.dumps(result)

siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
print('\n')
print(siblings)

data = pd.read_json('examples/example.json')
print('\n')
print(data)

print('\n')
print(data.to_json())
print(data.to_json(orient='records'))

{'name': 'Wes', 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']}, {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}


    name  age
0  Scott   34
1  Katie   42


   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9


{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [37]:
# XML and HTML: Web Scraping

tables = pd.read_html('examples/fdic_failed_bank_list.html')
print(len(tables))

failures = tables[0]
print('\n')
print(failures.head())

close_timestamps = pd.to_datetime(failures['Closing Date'])
print('\n')
print(close_timestamps.dt.year.value_counts())

1


                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016


Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, Length: 15, dtype: int64

In [42]:
# XML

from lxml import objectify
from io import StringIO

path = 'data/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

perf = pd.DataFrame(data)
print('\n')
print(perf.head())

tag = '<a href="html://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()
print('\n')
print(root)
print('\n')
print(root.get('href'))
print('\n')
print(root.text)

            AGENCY_NAME                        INDICATOR_NAME  \
0  Metro-North Railroad  On-Time Performance (West of Hudson)
1  Metro-North Railroad  On-Time Performance (West of Hudson)
2  Metro-North Railroad  On-Time Performance (West of Hudson)
3  Metro-North Railroad  On-Time Performance (West of Hudson)
4  Metro-North Railroad  On-Time Performance (West of Hudson)

                                         DESCRIPTION  PERIOD_YEAR  \
0  Percent of commuter trains that arrive at thei...         2008
1  Percent of commuter trains that arrive at thei...         2008
2  Percent of commuter trains that arrive at thei...         2008
3  Percent of commuter trains that arrive at thei...         2008
4  Percent of commuter trains that arrive at thei...         2008

   PERIOD_MONTH            CATEGORY FREQUENCY INDICATOR_UNIT YTD_TARGET  \
0             1  Service Indicators         M              %       95.0
1             2  Service Indicators         M              %       95.0
2             3  Service Indicators         M              %       95.0
3             4  Service Indicators         M              %       95.0
4             5  Service Indicators         M              %       95.0

  YTD_ACTUAL MONTHLY_TARGET MONTHLY_ACTUAL
0       96.9           95.0           96.9
1       96.0           95.0           95.0
2       96.3           95.0           96.9
3       96.8           95.0           98.3
4       96.6           95.0           95.8


Google


html://www.google.com


Google