6.1 Reading and Writing Data in Text Format

In [14]:
import pandas as pd

df = pd.read_csv('samples/ex1.csv')
print(df)
print('\n')
print(pd.read_table('samples/ex1.csv', sep=','))
print('\n')
print(pd.read_csv('samples/ex2.csv', header=None))
print('\n')
print(pd.read_csv('samples/ex2.csv', names=['a', 'b', 'c', 'd', 'message']))

names = ['a', 'b', 'c', 'd', 'message']
print('\n')
print(pd.read_csv('samples/ex2.csv', names=names, index_col='message'))

parsed = pd.read_csv('samples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
print('\n')
print(parsed)

print('\n')
print(list(open('samples/ex3.txt')))

result = pd.read_table('samples/ex3.txt', sep='\\s+')
print('\n')
print(result)

print('\n')
print(pd.read_csv('samples/ex4.csv', skiprows=[0 ,2, 3]))

result = pd.read_csv('samples/ex5.csv')
print('\n')
print(result)
print('\n')
print(pd.isnull(result))

result = pd.read_csv('samples/ex5.csv', na_values=['NULL'])
print('\n')
print(result)

sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
print('\n')
print(pd.read_csv('samples/ex5.csv', na_values=sentinels))

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo


   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12


           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16


['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']


            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491


   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo


   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False


  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo


  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [18]:
# Reading Text Files in Pieces

pd.options.display.max_rows = 10

result = pd.read_csv('samples/ex6.csv')
print(result)
print('\n')
print(pd.read_csv('samples/ex6.csv', nrows=5))

chunker = pd.read_csv('samples/ex6.csv', chunksize=1000)
print('\n')
print(chunker)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot.sort_values(ascending=False)
print('\n')
print(tot[:10])

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]


        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q


<pandas.io.parsers.readers.TextFileReader object at 0x107997f70>


key
0    151
1    146
2    152
3    162
4    171
5    157
6    166
7    164
8    162
9    150
dtype: object

In [26]:
# Writing Data to Text Format

import numpy as np
import sys

data = pd.read_csv('examples/ex5.csv')
print(data)

data.to_csv('examples/out.csv')

print('\n')
data.to_csv(sys.stdout, sep='|')

print('\n')
print(data.to_csv(sys.stdout, na_rep='NULL'))

print('\n')
print(data.to_csv(sys.stdout, index=False, header=False))

print('\n')
print(data.to_csv(sys.stdout, index=False, columns=['a','b', 'c']))

dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
print('\n')
print(ts.to_csv('examples/tseries.csv'))

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo


|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo


,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo
None


one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo
None


a,b,c
1,2,3.0
5,6,
9,10,11.0
None


None

In [28]:
# Working with Delimited Formats

import csv


f = open('examples/ex7.csv')
reader = csv.reader(f)

for line in reader:
    print(line)

with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
print('\n')
print(data_dict)

class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotachar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)

reader = csv.reader(f, delimiter='|')

with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']


{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [34]:
# JSON Data

import json

obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

result = json.loads(obj)
print(result)

asjson = json.dumps(result)

siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
print('\n')
print(siblings)

data = pd.read_json('examples/example.json')
print('\n')
print(data)

print('\n')
print(data.to_json())
print(data.to_json(orient='records'))

{'name': 'Wes', 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']}, {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}


    name  age
0  Scott   34
1  Katie   42


   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9


{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [37]:
# XML and HTML: Web Scraping

tables = pd.read_html('examples/fdic_failed_bank_list.html')
print(len(tables))

failures = tables[0]
print('\n')
print(failures.head())

close_timestamps = pd.to_datetime(failures['Closing Date'])
print('\n')
print(close_timestamps.dt.year.value_counts())

1


                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016


Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, Length: 15, dtype: int64

In [42]:
# XML

from lxml import objectify
from io import StringIO

path = 'data/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

perf = pd.DataFrame(data)
print('\n')
print(perf.head())

tag = '<a href="html://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()
print('\n')
print(root)
print('\n')
print(root.get('href'))
print('\n')
print(root.text)

            AGENCY_NAME                        INDICATOR_NAME  \
0  Metro-North Railroad  On-Time Performance (West of Hudson)
1  Metro-North Railroad  On-Time Performance (West of Hudson)
2  Metro-North Railroad  On-Time Performance (West of Hudson)
3  Metro-North Railroad  On-Time Performance (West of Hudson)
4  Metro-North Railroad  On-Time Performance (West of Hudson)

                                         DESCRIPTION  PERIOD_YEAR  \
0  Percent of commuter trains that arrive at thei...         2008
1  Percent of commuter trains that arrive at thei...         2008
2  Percent of commuter trains that arrive at thei...         2008
3  Percent of commuter trains that arrive at thei...         2008
4  Percent of commuter trains that arrive at thei...         2008

   PERIOD_MONTH            CATEGORY FREQUENCY INDICATOR_UNIT YTD_TARGET  \
0             1  Service Indicators         M              %       95.0
1             2  Service Indicators         M              %       95.0
2             3  Service Indicators         M              %       95.0
3             4  Service Indicators         M              %       95.0
4             5  Service Indicators         M              %       95.0

  YTD_ACTUAL MONTHLY_TARGET MONTHLY_ACTUAL
0       96.9           95.0           96.9
1       96.0           95.0           95.0
2       96.3           95.0           96.9
3       96.8           95.0           98.3
4       96.6           95.0           95.8


Google


html://www.google.com


Google

6.2 Binary Data Formats

In [45]:
frame = pd.read_csv('examples/ex1.csv')

print(frame)

frame.to_pickle('examples/frame_pickle')

print('\n')
print(pd.read_pickle('examples/frame_pickle'))

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo


   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
# Using HDF5 Format

import pandas as pd
import numpy as np
import os


frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']

print(store)

print('\n')
print(store['obj1'])

print('\n')
print(store.put('obj2', frame, format='table'))
print(store.select('obj2', where=['index >= 10 and index <= 15']))
store.close()

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5



           a
0  -0.543987
1   0.213193
2  -0.462793
3   1.154416
4  -1.145929
..       ...
95  1.382085
96  0.150979
97 -1.457342
98 -1.004296
99  0.507004

[100 rows x 1 columns]


None
           a
10  0.267801
11 -1.285871
12  0.352943
13 -1.232307
14  1.139008
15  0.368525

In [28]:
# Reading Microsoft Excel Files
xlsx = pd.ExcelFile('examples/ex1.xlsx')
print(pd.read_excel(xlsx, 'Sheet1'))

frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
print('\n')
print(frame)

writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(excel_writer=writer, sheet_name='Sheet1')
writer.close()

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo


   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

6.3 Interacting with Web APIs

In [6]:
import requests
import pandas as pd


url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)

print(resp)

data = resp.json()
print('\n')
print(data[0]['title'])

issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
print('\n')
print(issues)

<Response [200]>


Incorrect rolling std() results on very large DataFrames


    number                                              title  \
0    61677  Incorrect rolling std() results on very large ...
1    61676    BUG: Implicit conversion to float64 with isin()
2    61675  BUG: DataFrame.join(other) raises InvalidIndex...
3    61674      BUG: fix: `list` as index item does not raise
4    61673  DOC: Document two-issue limit for `take` comma...
5    61671  BUG: np.nan to datetime assertionerror when to...
6    61670  CLN: Use dedup_names for column name mangling ...
7    61669  ENH: Switch to trusted publishing for package ...
8    61668        Bump pypa/cibuildwheel from 2.23.3 to 3.0.0
9    61667  BUG: pd.read_sql is incorrectly reading long i...
10   61662  DOC: Improve documentation for DataFrame.__set...
11   61660  BUG: Type error supplying SQLAlchemy NVARCHAR ...
12   61659  BUG: to_numeric fails to convert a Pyarrow Dec...
13   61654          DOC: Add release notes template for 2.3.1
14   61653  [backport 2.3.x] CI: Fix slow mamba solver iss...
15   61651  feature #58141: Consistent naming conventions ...
16   61650  feature #49580: support new-style float_format...
17   61647  WEB: Moving maintainers to inactive (no answer...
18   61644  BUG: Add PyArrow datelike type support for `ma...
19   61643                          BUG: replace value failed
20   61642  ENH: Allow third-party packages to register IO...
21   61641  BUG: `to_numeric` fails to convert a Pyarrow D...
22   61640  BUG: Fix GroupBy aggregate coersion of outputs...
23   61637                            Fix void dtype handling
24   61636  BUG: Groupby aggregate coersion of outputs inc...
25   61635      Description of pandas_datetime_exec function.
26   61634             ENH: ExcelWriter append or create mode
27   61632  DOC: warn about apply with raw=True, if functi...
28   61631                                               DOC:
29   61629  BUG: to_stata erroring when encoded text and n...

                                               labels state
0                                                  []  open
1   [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
2   [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
3                                                  []  open
4                                                  []  open
5   [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
6                                                  []  open
7   [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...  open
8   [{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...  open
9   [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
10  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...  open
11  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
12                                                 []  open
13  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...  open
14                                                 []  open
15                                                 []  open
16                                                 []  open
17  [{'id': 1508144531, 'node_id': 'MDU6TGFiZWwxNT...  open
18                                                 []  open
19  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
20  [{'id': 2301354, 'node_id': 'MDU6TGFiZWwyMzAxM...  open
21  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
22                                                 []  open
23                                                 []  open
24  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
25                                                 []  open
26  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...  open
27  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...  open
28  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...  open
29                                                 []  open

6.4 Interacting with Databases

In [9]:
import sqlite3


query = """
    CREATE TABLE test
    (a VARCHAR(20), b VARCHAR(20),
    c REAL, d INTEGER
    );
"""

con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [10]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [11]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
print

[('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3), ('Sacramento', 'California', 1.7, 5)]

In [14]:
print(cursor.description)

print('\n')
print(pd.DataFrame(rows, columns=[x[0] for x in cursor.description]))

(('a', None, None, None, None, None, None), ('b', None, None, None, None, None, None), ('c', None, None, None, None, None, None), ('d', None, None, None, None, None, None))


             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [15]:
import sqlalchemy as sqla


db = sqla.create_engine('sqlite:///mydata.sqlite')
print(pd.read_sql('select * from test', db))

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5